<p>PREÇO</p>

<select id="filtrapreco">
    <option value="ate150">Até R$ 150,00</option>
    <option value="151_200">De R$ 151,00 a R$ 200,00</option>
    <option value="201_400">De R$ 201,00 a R$ 400,00</option>
    <option value="401_600">De R$ 401,00 a R$ 600,00</option>
    <option value="600mais">Mais de R$ 600,00</option>
</select>


<div id="divisoriafiltro"></div>



<p>PARCELAMENTO</p>

<select id="filtraparcela">
    <option value="2xsj">2x sem juros</option>
    <option value="3xsj">3x sem juros</option>
    <option value="4xsj">4x sem juros</option>
    <option value="5xsj">5x sem juros</option>
    <option value="6xsj">6x sem juros</option>
    <option value="mais6x">Mais de 6x</option>
</select>


<div id="divisoriafiltro"></div>

<p>FRETE</p>

<select id="filtrafrete">
    <option value="5dfrete">Em até 5 dias</option>
    <option value="15dfrete">Em até 15 dias</option>
    <option value="freteprog">Frete programado</option>
</select>