<link rel="stylesheet" href="/css/style.css">

<footer>


    <ul id="comofunciona">
        <li>Como funciona</li>
        <li>Desejo devolver</li>
        <li>Não recebi o produto/Recebi o produto errado</li>
    </ul>

    <ul id="comocomprar">
        <li>Como comprar</li>
        <li>Prazos de entrega</li>
        <li>Para fornecedores</li>
    </ul>

    <div id="newsletter">
        ACEITO OS TERMOS
    </div>

    <div id="redessociais">
        <p>Redes Sociais</p>
        <div id="ig"></div>
        <div id="yt"></div>
        <div id="in"></div>
        <div id="fb"></div>
    </div>





</footer>