<link rel="stylesheet" href="/css/style.css">
<script defer src="/js/header.js" ></script>

<header>

    <div id="conteudoheader">


        <div id="menuecarrinho">
            <div  onclick="mostraMenuLateral()" id="menuhamburger">
                <div id="traco1"></div>
                <div id="traco2"></div>
                <div id="traco3"></div>
            </div>

            <% if (typeof(usuario) != 'undefined'){ %>
                <div id="iconcarrinho">
                    <a href="/cliente/carrinho">
                        <svg width="188" height="188" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 6.75C0 5.0924 0.65848 3.50268 1.83058 2.33058C3.00269 1.15848 4.5924 0.5 6.25 0.5H25C26.3941 0.500385 27.7481 0.966884 28.8466 1.82531C29.9452 2.68374 30.7251 3.8848 31.0625 5.2375L36.125 25.5H181.25C182.168 25.5008 183.074 25.7038 183.904 26.0944C184.735 26.485 185.469 27.0537 186.055 27.76C186.641 28.4664 187.064 29.2931 187.294 30.1815C187.525 31.0698 187.556 31.998 187.388 32.9L168.638 132.9C168.369 134.332 167.609 135.626 166.489 136.557C165.368 137.488 163.957 137.999 162.5 138H50C48.5429 137.999 47.1321 137.488 46.0114 136.557C44.8907 135.626 44.1306 134.332 43.8625 132.9L25.125 33.0875L20.125 13H6.25C4.5924 13 3.00269 12.3415 1.83058 11.1694C0.65848 9.99732 0 8.4076 0 6.75ZM62.5 138C55.8696 138 49.5107 140.634 44.8223 145.322C40.1339 150.011 37.5 156.37 37.5 163C37.5 169.63 40.1339 175.989 44.8223 180.678C49.5107 185.366 55.8696 188 62.5 188C69.1304 188 75.4893 185.366 80.1777 180.678C84.8661 175.989 87.5 169.63 87.5 163C87.5 156.37 84.8661 150.011 80.1777 145.322C75.4893 140.634 69.1304 138 62.5 138ZM150 138C143.37 138 137.011 140.634 132.322 145.322C127.634 150.011 125 156.37 125 163C125 169.63 127.634 175.989 132.322 180.678C137.011 185.366 143.37 188 150 188C156.63 188 162.989 185.366 167.678 180.678C172.366 175.989 175 169.63 175 163C175 156.37 172.366 150.011 167.678 145.322C162.989 140.634 156.63 138 150 138ZM62.5 150.5C65.8152 150.5 68.9946 151.817 71.3388 154.161C73.683 156.505 75 159.685 75 163C75 166.315 73.683 169.495 71.3388 171.839C68.9946 174.183 65.8152 175.5 62.5 175.5C59.1848 175.5 56.0054 174.183 53.6612 171.839C51.317 169.495 50 166.315 50 163C50 159.685 51.317 156.505 53.6612 154.161C56.0054 151.817 59.1848 150.5 62.5 150.5ZM150 150.5C153.315 150.5 156.495 151.817 158.839 154.161C161.183 156.505 162.5 159.685 162.5 163C162.5 166.315 161.183 169.495 158.839 171.839C156.495 174.183 153.315 175.5 150 175.5C146.685 175.5 143.505 174.183 141.161 171.839C138.817 169.495 137.5 166.315 137.5 163C137.5 159.685 138.817 156.505 141.161 154.161C143.505 151.817 146.685 150.5 150 150.5Z" fill="white"/>
                        </svg>                    
                    </a>
                </div>
            <% } %>

        </div>


        <div id="logoheader">
        <a href="/">
            <img src="/img/logoheader.png" alt="">

        </a>
        </div>

        <% if (typeof usuario !== 'undefined'){ %>
            <div id="logincadastro">

                <div id="btnlogcad">
                    <button id="logcad" onclick = "mostraTelaLogCad()" class="logcad">
                    <div><p><%= usuario.nome.toUpperCase() %></p></div>
                    <svg id="down" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM7.707 8.793C7.5184 8.61084 7.2658 8.51005 7.0036 8.51233C6.7414 8.5146 6.49059 8.61977 6.30518 8.80518C6.11977 8.99059 6.0146 9.2414 6.01233 9.5036C6.01005 9.7658 6.11084 10.0184 6.293 10.207L10.293 14.207C10.4805 14.3945 10.7348 14.4998 11 14.4998C11.2652 14.4998 11.5195 14.3945 11.707 14.207L15.707 10.207C15.8892 10.0184 15.99 9.7658 15.9877 9.5036C15.9854 9.2414 15.8802 8.99059 15.6948 8.80518C15.5094 8.61977 15.2586 8.5146 14.9964 8.51233C14.7342 8.51005 14.4816 8.61084 14.293 8.793L11 12.086L7.707 8.793Z" fill="#8fc7c6"/>
                    </svg>
                    </button>
                </div>

                <div id="telalogcad" style="text-align: center;">
                    <br>
                    <a href="/cliente/compras"><p>Minhas Compras</p></a>
                    <a href="/cliente/painel"><p>Área do Cliente</p></a>
                    <a href="/cliente/sair"><p>Sair</p></a>
                </div>
            </div>

        <% }else{ %>
            <% if (typeof admin !== 'undefined'){ %>
                <div id="logincadastro">

                    <div id="btnlogcad">
                        <button id="logcad" onclick = "mostraTelaLogCad()">
                        <p><%= admin.nome.toUpperCase() %></p>
                        <svg id="down" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM7.707 8.793C7.5184 8.61084 7.2658 8.51005 7.0036 8.51233C6.7414 8.5146 6.49059 8.61977 6.30518 8.80518C6.11977 8.99059 6.0146 9.2414 6.01233 9.5036C6.01005 9.7658 6.11084 10.0184 6.293 10.207L10.293 14.207C10.4805 14.3945 10.7348 14.4998 11 14.4998C11.2652 14.4998 11.5195 14.3945 11.707 14.207L15.707 10.207C15.8892 10.0184 15.99 9.7658 15.9877 9.5036C15.9854 9.2414 15.8802 8.99059 15.6948 8.80518C15.5094 8.61977 15.2586 8.5146 14.9964 8.51233C14.7342 8.51005 14.4816 8.61084 14.293 8.793L11 12.086L7.707 8.793Z" fill="#8fc7c6"/>
                        </svg>
                        </button>
                    </div>
    
                    <div id="telalogcad">
                        <br>
                        <a href="/admin"><p>Painel Administrativo</p></a>
                        <a href="/admin/sair"><p>Sair</p></a>
                    </div>
                </div>

            <% }else{ %>
                <div id="logincadastro">
                    <div id="btnlogcad">
                    <!-- <a href="/" -->
                            <button id="logcad" onclick = "mostraTelaLogCad()">
                            <p>ENTRAR</p>
                            <svg id="down" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM7.707 8.793C7.5184 8.61084 7.2658 8.51005 7.0036 8.51233C6.7414 8.5146 6.49059 8.61977 6.30518 8.80518C6.11977 8.99059 6.0146 9.2414 6.01233 9.5036C6.01005 9.7658 6.11084 10.0184 6.293 10.207L10.293 14.207C10.4805 14.3945 10.7348 14.4998 11 14.4998C11.2652 14.4998 11.5195 14.3945 11.707 14.207L15.707 10.207C15.8892 10.0184 15.99 9.7658 15.9877 9.5036C15.9854 9.2414 15.8802 8.99059 15.6948 8.80518C15.5094 8.61977 15.2586 8.5146 14.9964 8.51233C14.7342 8.51005 14.4816 8.61084 14.293 8.793L11 12.086L7.707 8.793Z" fill="#8fc7c6"/>
                            </svg>
                            </button>
                    
                    <!-- </a> -->
                    </div>
                    <div id="telalogcad">
                        <form action="/logincliente" method="POST">
                            <br>
                            <label for="email">E-mail</label> &nbsp;
                            <input type="email" id="email" name="email">
                            <br><br>
                            <label for="senha">Senha</label> &nbsp;
                            <input type="password" id="senha" name="senha">
                            <br><br>
                            <button type="submit">Entrar</button>
                            <br><br>
                            <a href="/cadastro">Não é cadastrado? Clique aqui!</a>
                        </form>
                    </div>
                </div>
            <% } %>
        <% } %>

    </div>


    
    <div id="menulateral">


        <div id="areabusca">
            <form id="campobusca" action="/busca" method="GET">

                <input type="search" name="buscaprod" placeholder="Pesquise aqui ;)">

                <div id="btnbusca">
                    <button style="background: none; border: none;" type="submit" >
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.585936 36.7236L13.2666 24.043C11.2988 21.499 10.2344 18.3887 10.2344 15.1172C10.2344 11.2012 11.7627 7.5293 14.5264 4.76074C17.29 1.99219 20.9717 0.46875 24.8828 0.46875C28.7939 0.46875 32.4756 1.99707 35.2393 4.76074C38.0078 7.52441 39.5312 11.2012 39.5312 15.1172C39.5312 19.0283 38.0029 22.71 35.2393 25.4736C32.4756 28.2422 28.7988 29.7656 24.8828 29.7656C21.6113 29.7656 18.5059 28.7012 15.9619 26.7383L3.28125 39.4141C3.24406 39.4513 3.19992 39.4808 3.15132 39.5009C3.10273 39.5211 3.05064 39.5314 2.99804 39.5314C2.94544 39.5314 2.89336 39.5211 2.84477 39.5009C2.79617 39.4808 2.75202 39.4513 2.71484 39.4141L0.585936 37.29C0.548731 37.2529 0.519216 37.2087 0.49908 37.1601C0.478943 37.1115 0.468577 37.0594 0.468577 37.0068C0.468577 36.9542 0.478943 36.9022 0.49908 36.8536C0.519216 36.805 0.548731 36.7608 0.585936 36.7236V36.7236ZM17.1484 22.8516C19.2187 24.917 21.9629 26.0547 24.8828 26.0547C27.8027 26.0547 30.5469 24.917 32.6172 22.8516C34.6826 20.7813 35.8203 18.0371 35.8203 15.1172C35.8203 12.1973 34.6826 9.44824 32.6172 7.38281C30.5469 5.31738 27.8027 4.17969 24.8828 4.17969C21.9629 4.17969 19.2139 5.3125 17.1484 7.38281C15.083 9.45313 13.9453 12.1973 13.9453 15.1172C13.9453 18.0371 15.083 20.7861 17.1484 22.8516Z" fill="white"/>
                        </svg>
                    </button>
                        
                </div>

            </form>


        </div>


        <div id="menunav">
            <p>DEPARTAMENTOS</p>
            <ul>

<!--     
                    <li><a href="/cliente/acessoriosbrinquedos" >Acessórios e Brinquedos</a></li>
                    <li><a href="/cliente/saude" >Saúde</a></li>
                    <li><a href="/cliente/estetica" >Estética</a></li>
                    <li><a href="/cliente/descartaveis" >Descartáveis</a></li> -->

                    <li><a href="/acessoriosbrinquedos" >Acessórios e Brinquedos</a></li>
                    <li><a href="/saude" >Saúde</a></li>
                    <li><a href="/estetica" >Estética</a></li>
                    <li><a href="/descartaveis" >Descartáveis</a></li>

             </ul>
             <% if (typeof usuario === 'undefined'){ %>
             <p>ÁREA ADMINISTRATIVA</p>
             <ul>
                <% if (typeof admin !== 'undefined'){ %>
                    <li><a href="/admin/sair">Sair</a></li>
                <% }else{ %>
                    <li><a href="/loginadm">Login</a></li>
                <% } %>
             </ul>
             <% } %>
            </div>


    </div>



    <!--<main class="container">
    </main>-->



</header>