<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Ajuda</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main>

        <div id="bannercadastro">
            <h2>Ajuda - Compras</h2>
        </div>
        
        <div id="contajudacompra">



            <h2>Aqui, você pode realizar tratativas para solucionar problemas com suas compras</h2>


            <div id="painelajudacompra">

                <div id="painelajudacompra1">
                    <h3>1. Informações iniciais</h3>

                    <p>O que deseja fazer?</p>

                    <select name="opdevcanc" id="opdevcanc">
                        <option value="devolucao">Devolver a minha compra</option>
                        <option value="cancelar">Cancelar a minha compra</option>
                        <option value="naorecebi">Ainda não recebi a minha compra</option>
                    </select>

                    <p>Qual é o motivo?</p>

                    <select name="motivodevcanc" id="motivodevcanc">
                        <option value="arrependimento">Me arrependi da compra</option>
                        <option value="proddiff">Um ou mais produtos diferentes do que foi comprado</option>
                        <option value="reembnaoentregue">Desejo reembolso, não recebi a minha compra</option>
                        <option value="prodavariado">Um ou mais produtos avariados/defeituosos</option>
                    </select>

                </div>

                <div id="painelajudacompra2">

                    <h3>2. Informações da Compra</h3>

                    <p>Por favor, selecione a compra em questão </p>

                    <select name="compracontestada" id="compracontestada">
                        <option value="">ID: #2022013105510001 - 31/01/22 - R$ 324,90 - Cartão de Crédito</option>
                        <option value="">ID: #2022012718310011 - 27/01/22 - R$ 27,00 - Pix</option>
                        <option value="">ID: #2022012514320007 - 25/01/22 - R$ 109,99 - Boleto</option>
                    </select>

                </div>

            </div>

            <button>Enviar</button>

         </div>  





        
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>