<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Área do Cliente</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Olá, Fulano!</h2>
        </div>

        <div id="containerpaineluser">

            <div id="painelconfiguser">
                
                <img src="img/profile.jpg">
                <br>
                <label href="/">Fulano de Tal</label>
                <br><br>
                <a href="/">Alterar dados pessoais</a>
                <a href="/">Alterar formas de pagamento</a>
                <a href="/">Excluir conta</a>
                <br><br>
                <a href="/">Sair</a>

            </div>

            <div id="painelopuser">
                <button>Minhas compras</button>
                <button>Carrinho</button>
                <button>Ajuda</button>
                <button>Histórico de navegação</button>
                <button>Voltar à página inicial</button>

            </div>
        
        
        </div>




    </main>

</body>

<%- include('./partials/footer') %>

</html>