<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Cadastro de produto</title>
</head>

<body>

    <%- include('./partials/header') %>

    <script defer src="/js/cadastroProduto.js"></script>
    
    <main>

        <div id="bannercadastro">
            <h2>Cadastro AllPet - Produto</h2>
        </div>

        <img src="/img/compcat.jpg" id="capacadastro">

        <form id="formuser" enctype="multipart/form-data" method="POST">

            <fieldset>
                <legend>Complete as informações a seguir:</legend>

                <br>

                <label for="nome">Nome do produto</label>
                <input type="text" name="nome" id="nome"> <br><br>

                <label for="descricao">Descrição</label><br>
                <textarea name="descricao" id="descricao"></textarea> <br><br>


                <label>Categoria</label> <br>

                <select name="catespnome" id="catespnome">
                    <% catesps.forEach(catesp => { %>
                        <option value="<%= catesp.nome %>"><%= catesp.nome %></option>
                    <% })%>
                </select>
                <br><br>


                <label for="preco">Preço</label> 
                <input type="text" name="preco" id="preco" step="0.01"> <br><br>
                <!-- <input type="number" name="preco" id="preco"> <br><br> -->

                <label for="quantidade">Quantidade</label> 
                <input type="number" name="quantidade" id="quantidade"> <br><br>

                
                <label>Foto (No máximo 4)</label> <br><br>
                <input type="file" name="imgprod" id="imgprod" multiple>
                <br><br>

                <button type="submit" id="btncaduser">Enviar</button>

            </fieldset>



        </form>

    </main>

</body>

<%- include('./partials/footer') %>

</html>