<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Descartáveis</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Descartáveis</h2>
        </div>

        <div id="containerbusca">
            <div id="filtrobusca">

                <p>CATEGORIA</p>
                <input type="checkbox" id="embalagens"> &nbsp; <label id="embalagens">Embalagens</label>
                <br>
                <input type="checkbox" id="tapete_hig"> &nbsp; <label id="tapete_hig">Tapetes higiênicos</label>
                <br>
                <input type="checkbox" id="curativos"> &nbsp; <label id="curativos">Curativos</label>
                <br>
                <input type="checkbox" id="seringas"> &nbsp; <label id="seringas">Seringas</label>
                <br>
                <input type="checkbox" id="comebebedesc"> &nbsp; <label id="comebebedesc">Comedouros/Bebedouros descartáveis</label>
                <br>



                <div id="divisoriafiltro"></div>

                <%- include('./partials/filtroBusca') %>

            </div>

            <div id="itensresultadobusca">

                <div id="prodresbusca">
                    <img src="/img/dc1.png">
                    <label>Kit Coleira Bibster Spiked</label>
                    <br>
                    <label>R$ 100,00</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/caminhac.jpg">
                    <label>Caminha para cachorro</label>
                    <br>
                    <label>R$ 75,00</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/arranhador.jpg">
                    <label>Arranhador p/ gato com plataforma</label>
                    <br>
                    <label>R$ 80,00</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/guia5m.jpg">
                    <label>Guia retrátil 5 metros</label>
                    <br>
                    <label>R$ 69,90</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/ydog.png">
                    <label>Brinquedo YDog</label>
                    <br>
                    <label>R$ 15,00</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/casinha.png">
                    <label>Bolinha com corda</label>
                    <br>
                    <label>R$ 16,90</label>
                </div>

                <button id="btnvermais">VER MAIS</button>


            </div>

            

        </div>



    </main>

</body>

<%- include('./partials/footer') %>

</html>