<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Requerimento 202202025999999</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main id="maindetalhecompra"> 

        <div id="bannercadastro">
            <h2>Detalhes do Requerimento #20220201999999</h2>
        </div>

        <div id="infodetalhecompra">
            <h2>Data/hora: 03/02/2022 - 09:27 | Motivo: Um ou mais produtos diferentes do que foi comprado</h2>

            <div id="separador"></div>

            <h3>Informações da compra</h3>

                <div id="contreqcompra">

                    <div id="inforeqcompra">
                        <h3>Compra ID #2022013105510001</h3>
                        <p>Data/hora da compra: 31/01/2022 - 12:53</p>
                        <p>Cartão de Crédito - R$ 324,90</p>

                        <button>Ver detalhes da compra</button>
                    </div>
                    


                </div>

        </div>

        <div id="separador"></div>

        <h2>Status do Requerimento</h2>

        <div id="statuscompra">

            <div id="statuschk">
                <div id="dotcompra">1</div>
                <p>03/02/2022 - 09:35</p>
                <p>Requerimento recebido</p>
            </div>

            <div id="statuschk">
                <div id="dotcompra">2</div>
                <p>03/02/2022 - 10:04</p>
                <p>Requerimento em análise</p>
            </div>

            <div id="statuschk">
                <div id="dotcompra">3</div>
                <p>04/02/2022 - 08:12</p>
                <p>Encaminhamento ao setor responsável</p>
            </div>

            <div id="statuschk">
                <div id="dotcompra">4</div>
                <p>04/02/2022 - 11:33</p>
                <p>Correção dos itens e reenvio realizado</p>
            </div>

        </div>

        <div id="btnsdetalhereq">
            <button>VER TODOS OS MEUS REQUERIMENTOS</button>
            <button>ÁREA DO CLIENTE</button>
            <button>PÁGINA INICIAL</button>
        </div>
      

    </main>

</body>

<%- include('./partials/footer') %>

</html>