<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>All Pet - Home</title>
</head>

<%- include('./partials/header') %>


<body>
    <h3>Bem vindo à All Pet!</h3>

    <h3>Os mais desejados!</h3>

    <div id="moldazul">

        <div id="item1">
            <img src="/img/casinha.png">
            <p>4x de R$ 22,90</p>
        </div>

        <div id="item2">
            <img src="/img/casinha.png">
            <p>4x de R$ 22,90</p>
        </div>

        <div id="item3">
            <img src="/img/casinha.png">
            <p>4x de R$ 22,90</p>
        </div>

        <div id="item4">
            <img src="/img/casinha.png">
            <p>4x de R$ 22,90</p>
        </div>

        <div id="item5">
            <img src="/img/casinha.png">
            <p>4x de R$ 22,90</p>
        </div>

        <div id="item6">
            <img src="/img/casinha.png">
            <p>4x de R$ 22,90</p>
        </div>

        <div id="item7">
            <img src="/img/casinha.png">
            <p>4x de R$ 22,90</p>
        </div>

        <div id="item8">
            <img src="/img/casinha.png">
            <p>4x de R$ 22,90</p>
        </div>

        



    </div>



</body>

<!-- <%- include('./partials/footer') %> -->

</html>