<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Meus Requerimentos</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Meus Requerimentos</h2>
        </div>

        <div id="painelminhascompras">
            <div id="contcompra">

                <div id="infocompra">
                    
                    <label>Protocolo: #202202025999999</label>
                    <br><br>
                    <label> Compra #2022013105510001</label>
                    <br>
                    <label>31/01/22 - R$ 324,90</label>
                    <br><br>
                    <label>Motivo: Um ou mais produtos diferentes do que foi comprado</label>

                </div>
                <button>Ver detalhes</button>
            </div>

            <div id="contcompra">

                <div id="infocompra">
                    
                    <label>Protocolo: #202201031999999</label>
                    <br><br>
                    <label> Compra #2022013105510001</label>
                    <br>
                    <label>30/01/22 - R$ 24,90</label>
                    <br><br>
                    <label>Motivo: Desejo reembolso, não recebi a minha compra</label>

                </div>
                <button>Ver detalhes</button>
            </div>


            <div id="contcompra">

                <div id="infocompra">
                    
                    <label>Protocolo: #202201041999999</label>
                    <br><br>
                    <label> Compra #2022013105510001</label>
                    <br>
                    <label>04/01/22 - R$ 123,45</label>
                    <br><br>
                    <label>Motivo: Me arrependi da compra</label>

                </div>
                <button>Ver detalhes</button>
            </div>


        </div>

        <div id="btnsminhascompras">
            <button>Área do Cliente</button>
            <button>Página inicial</button>
        </div>
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>