<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Minhas Compras</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Minhas Compras</h2>
        </div>

        <div id="painelminhascompras">
            <div id="contcompra">

                <div id="infocompra">
                    
                    <label>ID: #2022013105510001</label>
                    <br>
                    <label>31/01/2022 - 05:51</label>
                    <br>
                    <label>Cartão de Crédito - R$ 324,90</label>

                </div>
                <button>Ver detalhes</button>
            </div>

            <div id="contcompra">

                <div id="infocompra">
                    
                    <label>ID: #2022012718310011</label>
                    <br>
                    <label>27/01/2022 - 18:31</label>
                    <br>
                    <label>Pix - R$ 27,00</label>

                </div>
                <button>Ver detalhes</button>
            </div>


            <div id="contcompra">

                <div id="infocompra">
                    
                    <label>ID: #2022012514320007</label>
                    <br>
                    <label>25/01/2022 - 14:32</label>
                    <br>
                    <label>Boleto - R$ 109,99</label>

                </div>
                <button>Ver detalhes</button>
            </div>


        </div>

        <div id="btnsminhascompras">
            <button>Área do Cliente</button>
            <button>Página inicial</button>
        </div>
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>