<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Resultados da busca</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Produtos encontrados com a busca "acessorio" - (9)</h2>
        </div>

        <div id="containerbusca">
            <div id="filtrobusca">
                <p>PREÇO</p>
                <input type="checkbox" id="ate150"> &nbsp; <label id="ate150">Até R$ 150,00</label>
                <br>
                <input type="checkbox" id="ate150"> &nbsp; <label id="ate150">Até R$ 150,00</label>
                <br>
                <input type="checkbox" id="151_200"> &nbsp; <label id="151_200">De R$ 151,00 a R$ 200,00</label>
                <br>
                <input type="checkbox" id="151_200"> &nbsp; <label id="151_200">De R$ 151,00 a R$ 400,00</label>
                <br>
                <input type="checkbox" id="401_600"> &nbsp; <label id="401_600">De R$ 401,00 a R$ 600,00</label>
                <br>
                <input type="checkbox" id="600mais"> &nbsp; <label id="600mais">Mais de R$ 600,00</label>
                <br>

                <div id="divisoriafiltro"></div>

                <p>PARCELAMENTO</p>
                <input type="checkbox" id="2xsj"> &nbsp; <label id="2xsj">2x sem juros</label>
                <br>
                <input type="checkbox" id="3xsj"> &nbsp; <label id="2xsj">3x sem juros</label>
                <br>
                <input type="checkbox" id="5xsj"> &nbsp; <label id="5xsj">4x sem juros</label>
                <p>Mais opções</p>

                <div id="divisoriafiltro"></div>

                <p>FRETE</p>
                <input type="checkbox" id="5dfrete"> &nbsp; <label id="5dfrete">Em até 5 dias</label>
                <br>
                <input type="checkbox" id="15dfrete"> &nbsp; <label id="15dfrete">Em até 15 dias</label>
                <br>
                <input type="checkbox" id="freteprog"> &nbsp; <label id="freteprog">Frete programado</label>
                



            </div>

            <div id="itensresultadobusca">

                <div id="prodresbusca">
                    <img src="/img/dc1.png">
                    <label>Kit Coleira Bibster Spiked</label>
                    <br>
                    <label>R$ 100,00</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/caminhac.jpg">
                    <label>Caminha para cachorro</label>
                    <br>
                    <label>R$ 75,00</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/arranhador.jpg">
                    <label>Arranhador p/ gato com plataforma</label>
                    <br>
                    <label>R$ 80,00</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/guia5m.jpg">
                    <label>Guia retrátil 5 metros</label>
                    <br>
                    <label>R$ 69,90</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/ydog.png">
                    <label>Brinquedo YDog</label>
                    <br>
                    <label>R$ 15,00</label>
                </div>

                <div id="prodresbusca">
                    <img src="/img/casinha.png">
                    <label>Bolinha com corda</label>
                    <br>
                    <label>R$ 16,90</label>
                </div>

            </div>

            

        </div>

        <button id="btnvermais">VER MAIS</button>


    </main>

</body>

<%- include('./partials/footer') %>

</html>