@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');


/*-------------------- TELA CARRINHO --------------------*/

#bannercarrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d8584;
    color: white;
    height: 80px;
    width: 100vw;
    margin-top: -70px;
}





#prcrr1 label{
    text-align: center;
}

#infoprcrr1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

#nomeqtdcrr, #vuncrr, #vtcrr{
    /*border: 1px solid antiquewhite;*/
    width: fit-content;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nomeqtdcrr form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nomeqtdcrr form input{
    width: fit-content;
    margin: 0px auto;
}

#prodscrr{
    display: flex;
    flex-direction: column;
    /*border: 1px solid orange;*/
    height: fit-content;
    overflow-y: auto;

}

#prcrr1{
    border: 1px solid #b5dada;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    margin: 10px 0 10px 0;
    padding: 10px 0px;

}

#qtdbtn{
    border: none;
    border-radius: 50px;
    margin: 5px 0px 5px 0px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: #FEAE11;
    color: white;
}

#removeitem{
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: #FEAE11;
    color: white;
    text-align: center;
}

#prcrr1 img{
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

#crr1{
    border: solid 1px blue;
    width: 80vw;
    height: 400px;
    margin: 50px auto 0px auto;
}

#fase1crr, #fase2crr{
    padding: 10px 20px 10px 20px;
    background-color: #007F7E;
    margin: 0 auto;
    border-radius: 3px;
    color: white;
    height: fit-content;
    /*border: solid 1px blue;*/
    width: 80vw;
    /* //height: 600px; */
    margin: 50px auto 0px auto;
}

#fase1crr h2, #fase2crr h2{
    text-align: center;
}

#fase2crr{
    display: flex;
    flex-direction: column;
    height: 200px;
}

#fase2info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 50%;
    margin: 0px auto;
    /* border: 1px solid aqua; */
}



#divfpgto{
    width: 100%;
   /* border: 1px solid salmon; */

}

#diventrega{
    width: 100%;
  /*  border: 1px solid salmon; */

}

#finalizacompra{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: #FEAE11;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}










/*--------------------------------------------------------*/

/*-------------------- TELA CARRINHO MOBILE -------------*/
@media (max-width: 800px){


}

/*-----------------------------------------------------*/


/*------------ TELA COMPRA CONCLUIDA ----------------*/

#contcompraconcl1{
 /*   border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#msgcompraconcl{
    width: 30%;
   /* border: 1px solid olivedrab; */
    text-align: center;
    color: #007F7E;
}
#msgcompraconcl svg{
    width: 250px;
    height: 250px;
}

#msgcompraconcl p{
    font-style: italic;
    font-size: 20px;
}


#detalhescompra{
    /*border: 1px solid #d54b4b;*/
    background-color: #b5dada;
    text-align: center;
    width: 65%;
    height: 95%;
    border-radius: 4px;

}

#detalhescompra p{
    font-weight: bold;

}

#contdetcompra{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 95%;
    height: 50%;
    padding-bottom: 20px;
    overflow-x: auto;
}

#itemcompra{
    border: 1px solid white;
    border-radius: 4px;
    width: 30%;
    height: 60%;
    margin: 0px 3px;
}

#itemcompra img {
    height: 150px;
    width: 150px;
}

#btnscompraconcluida{
   /* border: 1px solid brown; /*/
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

#btnscompraconcluida button{
    background-color: #007F7E;
    color: white;
    border: none;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 4px;
}

#maincompraconcluida{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#sugestoescc{
    margin-top: 40px;
    padding-bottom: 30px;
    width: 100vw;
    background-color: #FEAE11;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#thumbspgcc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

#thumbspgcc img{
    border-radius: 4px;
}

#thumbspgcc svg{
    width: 60px;
    height: 60px;
}

#dotsthumbpgcc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20vw;
    margin-left: auto; margin-right: auto;
}

#dotpgcc{
    background-color: #027E7E;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}


/*-------------------------------------------------*/


/*-------------------- TELA DETALHES DA COMPRA -------------*/

#maindetalhecompra{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#maindetalhecompra h2, #maindetalhecompra h3{
    text-align: center;
}

#statuscompra{
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-evenly;
    text-align: center;
    margin-left: auto; margin-right: auto;
}

#dotcompra{
    background-color: #007F7E;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-left: auto; margin-right: auto;
    padding: 3px;
    color: white;
}

#separador{
    background-color: #007F7E;
    height: 2px;
    width: 80vw;
    margin: 20px auto 20px auto;
}

#contdetalhecompra{
    /*border: 1px solid darkblue;*/
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 80vw;
    margin-left: auto; margin-right: auto;
    padding: 20px 0px;
    justify-content: space-around;
    border-radius: 4px;
    background-color: #4DA5A5;
}

#itemdetalhecompra{
    /*border: 1px solid sienna;*/
    text-align: center;
    width: 14%;
    padding: 8px;
    border-radius: 4px;
    background-color: #FEAE11;
    height: fit-content;
}

#itemdetalhecompra img{
    width: 100%;
    height: 70%;
    border-radius: 3px;
}

#statuschk button{
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #FEAE11;
    padding: 5px 20px;
}

#btnsdetalhecompra{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto; margin-right: auto;
    margin-top: 50px;
    
}

#btnsdetalhecompra button{
    border: none;
    border-radius: 3px;
    background-color: #007F7E;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
  
}

/*-----------------------------------------------------*/

/*-------------------- TELA RESULTADO BUSCA -------------*/

#containerbusca{
   /* border: 1px solid aquamarine; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90vw;
    /*height: 100vh;*/
    height: fit-content;
    justify-content: space-evenly;
    margin: 30px auto 0px auto;
    margin-bottom: 50px;

}

#divisoriafiltro{
    width: 70%;
    height: 1px;
    background-color: black;
    margin: 20px auto;
}

#filtrobusca{
   /* border: 1px solid blueviolet; */
    border-radius: 4px;
    background-color: #d1d1d1;
    width: 20vw;
    height: fit-content%;
    padding: 20px 20px 60px 20px;
   /* z-index: 2;
    margin-top: 100px;*/
    
}

/*#filtrobuscacat{
    border-radius: 4px;
    background-color: #d1d1d1;
    width: 20vw;
    height: 90%;
    padding: 20px;
    height: 100%;
}*/

#filtrobusca p{
    font-weight: bold;
}

#itensresultadobusca{
   /* border: 1px solid darkgreen; */
    width: 60vw;
    height: fit-content;
    /*margin: auto 0px*/
    background-color: #8fc7c6;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;


}

#prodresbusca{
  /*  border: 1px solid gray; */
    width: 25%;
    height: fit-content;
    text-align: center;
    margin: 10px;
    border-radius: 4px;
    background-color: #eea91f;
    padding-bottom: 10px;
}

#prodresbusca a label{
    text-decoration: none;
}

#prodresbusca label{
    font-weight: bold;
}

#prodresbusca img{
    width: 100%;
    height: 50%;
}




/*-------------------- TELA AREA CLIENTE     -------------*/
#containerpaineluser{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    margin: 50px auto 0px auto;
}

#painelconfiguser{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}

#painelconfiguser img{
    width: 60%;
    margin-left: auto; margin-right: auto;
    border-radius: 100px;
}

#painelopuser{
    display: flex;
    flex-direction: column;
}

textarea{
    resize: none;
    width: 40%;
    height: 100px;
}

#painelopuser button{
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    background-color: #eea91f;
    border: none;
    border-radius: 4px;
    color: white;
}

/*------ TELA AREA CLIENTE RESPONSIVO -----------------*/

@media (max-width: 800px) {

    #containerpaineluser{
        display: flex;
        flex-direction: column;
        width: 95vw;
    }

    #painelopuser {
       margin-top: 30px;
    }

    #painelconfiguser img{
        width: 100%;
    }
    
    
}
/*-----------------------------------------------------*/


/*----------------- TELA MINHAS COMPRAS -----------------*/


#painelminhascompras{
    background-color: #8fc7c6;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    height: fit-content;
    margin: 50px auto 0px auto;
    border-radius: 4px;
    /*overflow-y: hidden;*/
    /*padding-top: 100px;*/

}

#contcompra{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto 10px auto;
    background-color: #eea91f;
    border-radius: 4px;
    padding: 15px;
    width: 70%;
    text-align: center;
    color: white;
}

#contcompra img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

#infocompra{
    width: 50%;
}

#contcompra button{
    padding: 10px 40px;
    text-transform: uppercase;
    color: white;
    background-color: #197271;
    border-radius: 4px;
    border: none;

}

#btnsminhascompras{
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto 0px auto;
    width: 60vw;
    /*border: 1px solid black;*/
}

#btnsminhascompras button{
    padding: 10px 60px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: #007F7E;
    color: white;

}

/*--------------- TELA AJUDA COMPRA PASSO 1 -------------*/

#contajudacompra{
    text-align: center;
    width: 90vw;
    /*display: flex;
    flex-direction: column;*/
    margin-left: auto; margin-right: auto;
}

#painelajudacompra{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    background-color: #4DA5A5;
    border-radius: 4px;
    color: white;
    padding: 20px 0px;
    
}

#contajudacompra button, #btnsajudacompra2 button, #contreqcompra button{
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: #eea91f;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}


/*--------------- TELA AJUDA COMPRA PASSO 2 -------------*/

#contajudacompra2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#inforequerimento{
    text-align: center;
    padding: 10px 20px;
    background-color: #4DA5A5;
    color: white;
    border-radius: 4px;
}

#btnsajudacompra2{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}


/*--------------- TELA DETALHES REQUERIMENTO ------------*/

#contreqcompra{
    width: 40VW;
    margin-left: auto; margin-right: auto;
    text-align: center;
    background-color: #197271;
    color: white;
    padding: 20px 0px;
    border-radius: 4px;

}

#btnsdetalhereq{
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto; margin-right: auto;
    margin-top: 20px;
}

#btnsdetalhereq button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #197271;
    color: white;
    
}

/*-----------------------------------------------------*/

a{
    text-decoration: none;
}

button, input{
    font-family: 'Roboto', 'sans-serif';
}


body{
    font-family: 'Roboto', sans-serif;
}

main{
    margin-top: 150px;
    margin-bottom: 100px;

}




@media (max-width: 800px){
    #telalogcad{
        position: fixed;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

}

fieldset{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    color: #197271;
    padding: 20px;
}

#capacadastro{
    width: 100vw;
    height: 320px;
    margin-bottom: 30px;
}

#fotosprod{
    width: 30vw;
    /*margin-left: 10vw;*/
    display: flex;
    flex-flow: column;
}

#maisthumbs{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
}

#dotsthumb{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px auto 5px auto;
}

#tdot1, #tdot2, #tdot3{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #027E7E;
    margin: 0 10px 0 10px;
}

#maisthumbs img{
    width: 100px;
    height: 100px;
}

#infoprod label{
    font-style: italic;
}

#containerprod img, #containerprodcont img{
    border: 2px solid gainsboro;
    border-radius: 4px;
}

#containerprod h1{
    color: #4da5a5;
}

#containerprod{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    justify-content: space-evenly;
    padding-bottom: 5vh;
    

   /* border: 1px solid green;*/
}

#infoprod{
    display: flex;
    flex-flow: column;
    width: 30vw;
}

#avaliacao{
    font-weight: bold;
}

#stars{
    display: flex;
    flex-flow: row;
    width: 30%;
}

#stars svg{
    max-width: 100%;
    max-height: 100%;
}

#descprod{
    text-align: justify;
    width: 100%;
}

#containerprodcont{
    display: flex;
    flex-flow: row;
    margin-bottom: -100px;  
 /*   border: 1px solid blue; */
}

#opinioesprod{
    width: 50vw;
    height: 500px;
    background-color: #b5dada;
}

#thumbesq svg, #thumbdir svg{
    width: 40px;
    height: 40px;
}


#sugestoesprod{
    display: flex;
    flex-flow: column;
    width: 50vw;
    height: 500px;
    background-color: #feae11;
}

#opinioesprod h3, #sugestoesprod h3{
    text-align: center;
}

#grpopinioes{
    width: 90%;
    max-height: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto;
}

#containerpg{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#tresthumbspg img{
    width: 100%;
    height: 60%;
    border: none;
}

#tresthumbspg svg{
    width: 50px;
    height: 50px;
}

#tpg1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 150px;
    height: 250px;
  /*  border: 1px solid darkblue; */
}

#tpg1 label{
    margin: 0 auto 0 auto;
    padding: 5px;
    font-weight: bold;
}

#tpg1preco, #tpg2preco, #tpg3preco{
    color: #255C5C;
    font-size: 25px;
}

#tresthumbspg{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
   /* border: 1px solid violet; */
}

#thumbspg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 300px;
  /*  border: 1px solid forestgreen; */
}


#dotsthumbpg{
    width: 30%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto 0 auto;
   /* border: 1px solid darkcyan; */
}

#tdot1pg, #tdot2pg, #tdot3pg{
    background-color: #4DA5A5;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

#grpopinioes img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin: 0 15px 0 15px;
}

#opiniao{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    width: 90%;
    padding: 10px;
    margin: 5px;
}

#lbopuser{
    font-weight: bold;
}

#lbopdata{
    font-style: italic;
}

#grpopinioes label {
    margin: 5px;
}


#btnsprod{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#inputqtdcarrinho{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    margin: 10px 0px;
}

#btnsprod button{
    width: 150px;
    height: 40px;
    background-color: #027E7E;
    color: white;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}


#bannercadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d8584;
    color: white;
    height: 80px;
    width: 100vw;
    margin-top: -70px;
}


#btncaduser{
    font-family: 'Roboto', sans-serif;
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    background-color: #eea91f;
    padding: 10px 20px 10px 20px;

}



img{
    max-width: 100%;
    max-height: 100%;
}

h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

header{
    /*display: flex;
    flex-flow: row;
    align-items: center;*/
    /*justify-content: space-between;*/
    z-index: 3;
    width: 100%;
    height: 70px;
    background-color: #8fc7c6;
    margin-bottom: 50px;
    position: fixed;
    box-shadow: 0px 9px 6px -1px rgba(0, 0, 0, 0.25);

}

header nav{
    /* margin-left: 180px; */
   /* border: 1px solid darkgoldenrod; */
    /*position: absolute;*/

}

header nav ul li{
    display: inline;
    
}



#menuheader ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 5px;

}

#menulateral{
    width: 20vw;
    height: 100vh;
    background-color: #255C5C;
  /*  display: flex; */
    flex-direction: column;
    align-items: flex-start;
    display: none;
}

#menulateral p{
    background-color: #4da5a5;
    background-size: cover;
    padding: 5px 0px;
}

#menulateral ul li{
    padding: 3px;
}

#areabusca{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}

#menuhamburger{
    width: 40px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#menuecarrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#iconcarrinho svg{
    height: 40px;
}

#menunav{
    color: white;
}

#menunav ul li{
    margin: 10px 0px;
    text-transform: uppercase;
    list-style-type: none;
}

#menunav ul li a{
    color: inherit;
}

#menunav p {
    text-align: center;
    font-weight: bold;
}

#traco1, #traco2, #traco3{
    width: 100%;
    height: 5px;
    background-color: white;
}

#telalogcad{
    position: absolute;
    background-color: #8fc7c6;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    display: none;
}



#logoheader{
    width: 200px;
    height: 50px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(143,199,198,0) 100%);
    display: flex;
    align-items: center;
    /*position: relative;
    margin: 0px auto 0px auto;
  /*  margin-right: 200px; */
    

 /*   border: 1px solid green;  */
}

#campobusca{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#campobusca input{
    font-family: 'Roboto', 'sans-serif';
    margin-right: 5px;
 
}

/* #btnbusca{
    /*margin-left: 10px;
    margin-right: 180px;*/

   /* border: 1px solid greenyellow; */


#logcad{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #8fc7c6;
    padding-left: 20px; 
    padding-right: 20px;
    border-radius: 5px;
  /*  border: 1px solid red; */
}

#down{
    margin-left: 10px;
}

#conteudoheader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


#conteudofooter{
    margin: auto;
    display: flex;
    flex-direction: row;
   /* justify-content: space-between; */
    align-items: center;
    justify-content: space-around;

 /*   border: 1px solid blueviolet; */
}

body{
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    padding-top: 60px;
    padding-bottom: 60px;
    /*display: flex;
    flex-direction: row;*/
    background-color: #4da5a5;
}

footer ul li, footer p, footer a{
    text-decoration: none;
    color: white;
}

#redessociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    /*border: 1px solid salmon;*/
    text-align: center;
}

#iconsrs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#iconsrs svg{
    width: 30px;
    height: 30px;
}

/*#conteudofooter{
    display: flex;
    justify-content: space-around;
    margin: auto;
}*/



#mapafooter{
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

/*#infofooter{
    margin-left: 20px;
}*/

#footerlogo{
    width: 200px;
    height: 200px;
    /*margin-left: 100px;*/
}

#opcoeslista{
    display: flex;
    flex-direction: column;
}

#opcoeslista button{
    width: 100%;
    margin: 2px;
}

#bemvindo{
    /*border: solid 2px brown;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 1200px;
    margin-top: 150px;
}

  /*#bemvindo p{
  font-family: 'Rufina', serif;
    margin-top: 200px;
    margin-right: 250px;
    z-index: 2;
    position: absolute;
    font-size: 30px;*/
  /*  display: block;
}*/

#bemvindo img{
    width: 60vw;
    /*height: max-content;*/
    margin: 0 auto;
}

#carrossel{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 1200px;
    height: 400px;
}

#grupodots{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: left;
    margin-top: 390px;
}

#d1, #d2, #d3, #d4, #d5, #d6{
    width: 20px;
    height: 20px;
    background-color: #d54b4b;
    border-radius: 50px;
    margin-left: 15px;
    /*position: absolute;*/
}



#btcarrossel{
    display: flex;
    position: absolute;
    margin-left: 20px;
    margin-top: 180px;
    width: 1150px;
    justify-content: space-between;
   /* padding-left: 10px;
    padding-right: 10px;*/
}

#btnesq, #btndir{
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*margin-top: 150px;
    margin-left: 20px;*/
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

#petgostar{
    display: flex;
    flex-direction: row;
}

#pg1{
    background-color: #007F7E;
    color: white;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    height: fit-content;
    padding-bottom: 1px;
}

#sugestoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
   /* border: 1px solid gold; */
    margin-left: auto;
    margin-right: auto;
}


#visualizou{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    background-color: #8fc7c6;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;

}

#visualizou img{
    border-radius: 3px;
}

#grpvis{
    width: 200px;
    height: 200px;
    margin-top: -100px;
}



#molditems{
    display: flex;
   /* flex-wrap: wrap;*/
    background-color: #b5dada;
    margin: auto;
    /*height: 600px;*/
    height: fit-content;
    width: 70vw;
    padding: 15px 0px;
    border-radius: 5px;
}

#moldcats{
    display: flex;
    background-color: #b5dada;
    margin: auto;
    height: 150px;
    width: 1000px;
    padding: 5px;
    margin-bottom: 80px;

}

#grupoitems, #grupocats{
    display: flex;
    /*align-content: flex-start;*/
    flex-flow: row wrap;
    justify-content: center;
    /*align-items: center;*/
    margin-top: auto;
    margin-bottom: auto;
}



#itemhome{
    width: 256px; height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
   /* border: solid 1px orange;*/
    margin: 10px;


}

#itemhome img{
    border-radius: 3px;
}

#cat1, #cat2, #cat3, #cat4, #cat5, #cat6, #cat7, #cat8{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #feae11;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;

} 

/*#imgitem1, #imgitem2, #imgitem3, #imgitem4, #imgitem5, #imgitem6, #imgitem7, #imgitem8 {
    border: solid 2px purple;
    width: 100%; height: 80%;
    /*margin: auto;

}*/

#btnvermais{
    border: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #0d8584;
    color: white;
}





/*************************************************************************************************/


/* LAYOUT RESPONSIVO */
@media (max-width: 800px){
    
    /*#campobusca, #btnbusca {
        display: none;
    }*/

    #mainprod{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: center;
        width: 100vw;
       /* border: 2px solid purple; */
        margin-left: auto;
        margin-right: auto;
    }

    #menuecarrinho{
        width: 25%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    } 

    #menuhamburger{
        width: 30px;
        height: 40px;
    }

    
    #logoheader{
        width: 70%;
    }

    #btnlogcad button{
        padding: 1px 5px;
    }

    #menulateral{
        width: 80vw;
    }

    #menuecarrinho svg{
        width: 30px;
    }

    #conteudoheader{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    
    #containerprod, #containerprodcont{
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100%;
    }


    #fotosprod{
        margin-left: auto;
        margin-right: auto;
       /* border: 1px solid yellowgreen;*/
        width: 90vw;
    }

    #maisthumbs{
        display: flex;
        flex-flow: row;
        width: 100%;
    }

    #tresthumbs{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 20%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #tresthumbs img{
        width: 90%;
        height: 90%;
        margin-left: 5px;
        margin-right: 5px;
    }

    #opinioesprod, #sugestoesprod{
        width: 100%;
    }

    #infoprod{
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }

    #infoprod h1, #infoprod h2, #avaliacao, #infoprod label{
        text-align: center;
    }




    #stars{
        margin-left: auto;
        margin-right: auto;
    }
    
    


    body{
       /* margin: 0px;
        height: 100%;*/
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/

    }

  /*  header{
        position: relative;
    }

    #conteudoheader{
        display: flex;
        flex-direction: row;
        align-items: space-evenly;
        position: absolute;
        padding-bottom: 20px;
        background-color: #8fc7c6;
        box-shadow: 0px 9px 6px -1px rgba(0, 0, 0, 0.25);

    }*/

    body, #bemvindo, #carrossel, #sugestoes, #moldcats, footer{
        width: 100vw;
    }


    /*#menuheader{
        text-align: center;
        font-weight: bold;
    }*/

    

    #moldcats{
        height: 500px;
        display: flex;
        justify-content: center;

    }

    #grupocats{
        display: flex;
        flex-direction: column;
    }

    #grupoitems{
        /*height: 1200px;*/
        height: fit-content;
    }

    #molditems{
        height: fit-content;
    }
    
    #sugestoes{
        display: flex;
        justify-content: center;
        flex-flow: column;
    }

    #petgostar{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
    }

    #btcarrossel{
        display: none;
    }

    #visualizou{
        margin: auto;
    }

    #item5, #item6, #item7, #item8{
        display: none;
    } 

    #bemvindo{
        margin-top: 120px;
    }



    /*#menuecarrinho{
        display: flex;
        flex-direction: row;
        width: 10%;
    }*/


    #conteudofooter{
        display: flex;
        flex-flow: column;
    }

}